.flex {
	display: flex;
}

.fd-c {
	flex-direction: column;
}

.ai-c {
	align-items: center;
}

.jc-c {
	justify-content: center;
}

.jc-sb {
	justify-content: space-between;
}

.jc-ad {
	justify-content: space-around;
}

.flex-1 {
	flex: 1
}

.fw-w {
	flex-wrap: wrap;
}